<%- include header %>
<form method="post">
  receiveCompany<input type="text" name="receiveCompany"/><br />
  amount<input type="text" name="amount"/><br />
         <input type="submit" value="finance"/>
</form>
<%- include footer %>
