<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>blockchain</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="home" href="/home">home</a></span>
<span><a title="new account" href="/newAccount">newAccount</a></span>
<span><a title="purchase" href="/purchase">purchase</a></span>
<span><a title="transfer" href="/transfer">transfer</a></span>
<span><a title="finance" href="/finance">finance</a></span>
<span><a title="pay" href="/pay">pay</a></span>
</nav>

<article>
