<%- include header %>
<form method="post">
  address: <input type="text" name="address"/><br />
  cname: <input type="text" name="cname"/><br />
  property: <input type="text" name="property"/><br />
  institutionType: <input type="text" name="institutionType"/><br />
         <input type="submit" value="submit"/>
</form>
<%- include footer %>
