<%- include header %>
<form method="post">
    receiptID<input type="text" name="receiptID"/><br />
    receiveCompany<input type="text" name="receiveCompany"/><br />
         <input type="submit" value="pay"/>
</form>
<%- include footer %>
